@import url('https://fonts.googleapis.com/css?family=Anton');

.full {
	background: url("../images/ali.jpg") no-repeat center center fixed;
	/* position: relative; */
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* height:100%; */

}

.container {
	font-family: 'Anton', sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.trivia {
	/* position: absolute; */
	margin: auto;
}

.trivia h1 {	
	font-weight: bolder;
	font-size: 50px;
}

.trivia p {
	font-size: 20px;
}

button {
	color: black;
}