@import url('https://fonts.googleapis.com/css?family=Anton');

body {
	background: url("../images/ali.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center center; 
	background-attachment: fixed;
	font-family: 'Anton', sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.trivia {
	position: absolute;
	margin: auto;
}

.trivia h1 {	
	font-weight: bolder;
	font-size: 50px;
}

.trivia p {
	font-size: 20px;
}

button {
	color: black;
}